1. Keluarkan dan tampilkan menggunakan print semua anggota list pada sel dibawah

In [261]:
#kerjakan soal no.1 pada sel berikut ini
#contoh list = [1,2,3]
#contoh hasil
#1
#2
#3

data_list = ['bandung', 'jakarta', 'semarang', 'palembang']

for data in data_list:
    print(data)

bandung
jakarta
semarang
palembang

2. Keluarkan dan tampilkan menggunakan metode print anggota list dengan tipe numerik dari list pada sel di bawah

In [156]:
#kerjakan soal no.2 pada sel berikut ini
#contoh list = ['a', 1]
#contoh hasil :
#1

data_list_2 = [100, 'makassar', 15.5, True]

for data in data_list_2:
     if type(data) == int or type(data) == float : 
         print(data)

100
15.5

3. lakukan pengecekan apakah terdapat angka pada tiap2 anggota list. lalu tampilkan sesuai format yang diminta

In [7]:
#kerjakan soal no.3 pada sel berikut ini
#contoh list = ['ada', 'ganesa10']
#contoh hasil:
#ada tidak memiliki angka
#ganesa10 memiliki angka

data_list_3 = ['asda8asd', 'bandunglautanapi', 'washingt0nDC']

for data in data_list_3:
    if(data.isalpha()):
        print(f"{data} tidak memiliki angka")
    else:
        print(f"{data} memiliki angka")

asda8asd memiliki angka
bandunglautanapi tidak memiliki angka
washingt0nDC memiliki angka

4. keluarkan masing-masing value pada key "nama" dan "nilai" dari dictionary di dalam list pada sel di bawah. lalu masukkan pada list sehingga satu nama & nilai berada dalam satu list. lalu kumpulkan semua list dalam satu list lainnya.

In [3]:
#kerjakan soal no.4 pada sel berikut ini
data_dict = [
    {
        "nama":"budi",
        "nilai": {
            "matematika" : 90,
            "fisika" : 86,
            "biologi" : 90
        }
    },
    {
        "nama":"Nina",
        "nilai": {
            "matematika" : 87,
            "fisika" : 69,
            "biologi" : 78
        }
    },
    {
        "nama":"Rudi",
        "nilai": {
            "matematika" : 88,
            "fisika" : 67,
            "biologi" : 91
        }
    }
]

#hasil yang diharapkan
#hasil = [["budi",90,86,90],["Nina",87,69,78],["Rudi",88,67,91]]
hasil=[]
for data in range(len(data_dict)):
    hasil.append(list(data_dict[data]['nilai'].values()))
    hasil[data].insert(0,data_dict[data]['nama'])
print(hasil)

[['budi', 90, 86, 90], ['Nina', 87, 69, 78], ['Rudi', 88, 67, 91]]