1. Lakukan 4 operasi aritmatika pada 2 variabel di bawah (tambah, kurang, kali, bagi), lalu simpan semua hasilnya didalam list dan tampilkan.

var_1 = 10

var_2 = 2

In [3]:
#kerjakan soal no 1 pada sel ini
#keluaran yang diharapkan : [12,8,20,5]
var_1 = 10
var_2 = 2
tambah = var_1 + var_2
kurang = var_1 - var_2
kali = var_1 * var_2
bagi = var_1 / var_2
dataList = []
dataList.append(tambah) 
dataList.append(kurang)
dataList.append(kali) 
dataList.append(bagi)  

print(dataList)

[12, 8, 20, 5.0]

2. Dengan menggunakan index keluarkan nilai dari dua tuple di bawah

a. ('Budi', 'Rani', 'Indah', 'Ilham')

b. (20, 18, 22, 27)

dari tuple a keluarkan Rani, dan dari tuple B keluarkan 22. lalu tampilkan dengan print()

In [2]:
#kerjakan soal no 2 pada sel ini
#keluaran yang diharapkan: "Rani adalah mahasiswi yang berusia 22 tahun"
a = ('Budi','Rani','Indah','Ilham')
b = (20,18,22,27)
a= list(a)
b= list(b)
a.pop(1)
b.pop(2)
print (a)
print (b)

['Budi', 'Indah', 'Ilham']
[20, 18, 27]

3. Ambil semua value dalam dictionary berikut dan masukkan ke dalam set untuk mengetahui kota mana saja mereka berasal

data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}

In [1]:
#kerjakan soal no 3 pada sel ini
#keluaran yang diharapkan: {'bandung','jakarta','semarang','surabaya'}
data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}
rudi = data_dict.get('Rudi')
nina = data_dict.get('Nina')
mia = data_dict.get('Mia')
indah = data_dict.get('Indah')
salman = data_dict.get('Salman')
mikail = data_dict.get('Mikail')

set_a = set()
set_a.update([rudi,nina,mia,indah,salman,mikail])
print(set_a)

{'jakarta', 'semarang', 'surabaya', 'bandung'}